.projects__text {
  color: #0D47A1;

  &-title {
    font-family: 'Roboto' !important;
    font-weight: bold;
    font-size: 30pt !important;
    padding-bottom: 10px;
  }

  &-description {
    font-family: Roboto !important;
    font-size: 26pt !important;

    &-text {
      font-family: Roboto !important;
      text-align: left;
    }
  }

  &-tasks {
    top: 40px !important;
  }
}

.projects__top {
  position: relative;
  top: 30px;
}
