.arrow__style {
  color: #205081;
  cursor: pointer;
}

.arrow__style:hover {
  color: #2c89cf;
}

.first__cols {
  position: relative;
  z-index: 46;
  top: 30px;
}

.text__link {
  color: #0D47A1;
  cursor: pointer;
}

.text__link:hover {
  text-decoration: underline;
}
